body {
	font-family: 'Slabo 27px', serif;
}

/*Nav-main navigation bar*/
@media screen and (max-width: 600px) {
  #head a:not(:first-child) {display: none;}
  #head a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #head.responsive {position: relative;}
  #head.responsive .icon {
    position: fixed;
    left: 7px;
    top: 7px;
  }
  #head.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.nav-main {
  overflow: hidden;
  background-color: #33403a;
  position: fixed;
  width: 100%;
  height: 35px;
  top: 0;
}

#head a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 7px;
  font-size: 17px;
  text-decoration: none;
}

.active {
    background-color: #4CAF50;
	pointer-events: none;
	cursor: default;
}

#head a:hover {
  background-color: #7e8c86;
  color: black;
  font-weight: bold;
  text-decoration:none;
}

#head .icon {
    display: none;
} 

#kaklogo {
	font-family: 'Special Elite', cursive;
	font-size: 14px;
	float: right;
	padding-right: 25px;
	color: #8fc951;
}

.ui-logo {
	pointer-events: none;
	cursor: default;
}

.ui-logo img {
	width:25px;
	height:25px;
    cursor: default;
	padding: 0px;
	float: right;
	padding-right: 6px;
	padding-top: 6px;
}

footer {
	bottom: 0px;
	height: 100px;
	background-color: #dddddd;
    padding: 15px;
    text-align: center;
}

.notification {
	visibility: false;
	color: red;
}
/*End of nav-main*/
/*Products*/

.basketinfo {
	float: right;
	width: 40;
	
}

.product {
	float: left;
	width: 30%;
	padding: 15px;
	margin: 15px;
	background-color: #7e8c86;
}

#allproducts img {
	size: 100%;
	height: auto;
}

.productinfo h1 {
	font-family: 'Old Standard TT', serif;
	font-size: 35px;
	font-weight: lighter;
	float: center;
	padding: 0px;
}

#allproducts:after {
	content: "";
	display: table;
	clear:both;
}

@media (max-width: 600px){
	.product{
		width: 100%;
	}
}

/*orders*/

.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
Next, let’s style the first item, which is the title, by changing the height to 60px and giving it some basic styling, and the next three items which are the shopping cart products, will make them 120px height each and set them to display flex.

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
Now we’ve styled the basic structure of our shopping cart.
Let’s style our products in order.

The first elements are the delete and favorite buttons.
I’ve always loved Twitter’s heart button animation, I think it would look great on our Shopping Cart, let’s implement it.

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&quot;delete-icn.svg&quot;) no-repeat center;
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}

.image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
